<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>

<form name="adduser" method="post" action="adduser">
    <input name="z_name" type="text" placeholder="例如：田阳" /><br/>
    <input name="z_phone" type="text" placeholder="您的手机号码" /><br/>
    <input name="z_pw" type="password" placeholder="请填写密码"  /><br/>
    <button type="submit">注册</button>
</form>

</body>
</html>
