<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<body>
<ul>
    <% for(var i = 0; i < userlist.length; i++) { %>
    <li><%= userlist[i].z_name %> <%= userlist[i].z_phone %> <%= userlist[i].z_email %> <%= userlist[i].z_pw %></li>
    <% } %>
</ul>
</body>
</html>
